* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.navbar-container {
    background-color: #302E44; /* Couleur de fond pour le conteneur de la navbar */
    padding: 20px 0; /* Espace autour de la navbar */
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
}

.navbar__menus,
.navbar__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__menu--p li,
.navbar__menu--a li,
.navbar__contact > div,
.linkedin-logo,
.login-link,
.button {
    margin-right: 10px;
}

.navbar__menu--p li p {
    font-size: 11px;
}

.navbar__menu--a li a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: medium;
    color: #302E44;
}

.navbar__logo-container,
.navbar__contact > div,
.button {
    display: flex;
    align-items: center;
}

.navbar__logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* centre le logo */
    align-items: center;
    position: relative; /* car le menu hamburger sera positionné par rapport à ce conteneur */
}

.navbar__logo {
    width: 10rem;
}

.navbar__contact > div {
    display: flex;
    gap: 10px; 
  }
  
  .navbar__contact {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  

.navbar__contact > div,
.linkedin-logo,
.login-link,
.button {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar__contact > div > p {
    margin-right: 10px; /* ou toute autre valeur qui vous convient */
}


.fa-linkedin-in {
    width: 15px;
    height: 15px;
    color: black;
    margin-right: 10px;
}

.login-link {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}


.button {
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
}

.button--trial {
    background-color: white;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: #302E44 2px solid;
    border-radius: 10px;
}

.button--demo {
    background-color: #00EA99;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}


.navbar__menus {
    position: relative;
}

.has-dropdown {
    position: relative;
}

.has-dropdown::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #00ea99;
    margin-left: 8px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 594px;
    border: 1px solid #ccc;
    flex-direction: row;
    z-index: 1;
}

.dropdown-column {
    flex-basis: 50%;
}

.dropdown-item {
    padding: 5px;

}

.dropdown-item h4 { 
    font-size: 14px;
}

.dropdown-item p { 
    font-size: 10px;
    color: #2F2E41;
}

.dropdown-item a { 
    list-style: none;
}

.dropdown-item h4 {
    margin: 0; 
    padding: 0; 
}

.dropdown-item a {
    text-decoration: none; 
    color: inherit; 
    display: block; 
    padding: 5px 0; 
    color: #2F2E41;
}

.dropdown-item {
    padding: 10px; 
}

/* MENU HAMBURGER */

/* Ajoutez ces styles pour gérer l'affichage de vos menus avec la classe .active */
.navbar__menus.active, .navbar__contact.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2E41;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.menu-hamburger {
    cursor: pointer;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    position: absolute;
    left: 15px; /* ou la valeur que vous préférez */
    top: 50%;
    transform: translateY(-50%);
}

.menu-hamburger .bar1, 
.menu-hamburger .bar2, 
.menu-hamburger .bar3 {
    background-color: #333;
    height: 3px;
    width: 100%;
}

@media (max-width: 1580px) {
    .menu-hamburger {
        display: flex;
    }
    .navbar__contact, .navbar__menus {
        display: none;
    }
}

/* Lorsque le menu est ouvert, on ajoute la classe .open au menu hamburger */
.menu-hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.menu-hamburger.open .bar2 {
    opacity: 0;
}

.menu-hamburger.open .bar3 {
    transform: rotate(45deg) translate(-4px, -4px);
}

/* SOUS MENU */

/* Styles pour le sous-menu */

.navbar__submenu{
    display: none;
}

.submenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2E41;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.submenu.active {
    display: block;
}

.go-back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-decoration: none;
    background-color: #00EA99;
    padding: 5px 10px;
    border-radius: 5px;
}

.submenu h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


.submenu-items {
    list-style: none;
    padding: 0;
}

.submenu-items li {
    margin-bottom: 10px;
}

.submenu-items a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.submenu-items a:hover {
    background-color: #00EA99;
}

/* PREMIERE SECTION */

.header-section {
    background-color: #302E44;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    max-width: 70%;
    margin: auto;
    margin-right: 100px;
}

.rgpd-score h1 span {
    display: block;
}

.rgpd-score, .rgpd-svg {
    flex: 1;
    padding-top: 20px;
    /* padding: 20px; */
}

.rgpd-score h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.rgpd-score p {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.button--score {
    background-color: #00EA99;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.button--video {
    background-color: #302E44;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    padding: 15px;
}

.button--video i {
    margin-right: 8px;
}

.rgpd-svg img {
    max-width: 100%;
    display: block;
}

.rgpd-svg {
    flex: 1;
    position: relative;
}

.parent-of-rgpd-svg {
    position: relative;
}


.border-line {
    height: 1px;
    background: white;
    width: 100vw;
    margin: 0; 
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
}




.ask-demo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin: 20px auto;
    padding: 50px 0;
}

.stat {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: left; 
}

.stat h1,
.stat p {
    margin: 0;
    padding: 0; 
    color: white;
}

.stat {
    margin-bottom: 300px;
}


.button--demo {
    padding: 20px;
}



.button {
    background-color: #00EA99;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

.highlight {
    color: #00EA99;
}

/* ====== Styles des services et des cartes ====== */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px; 
    z-index: 10; 
    position: relative; 
    background-color: white; 
    width: 70%;
    margin-left: auto; 
    margin-right: auto; 
    border-top-left-radius: 20px;  
    border-top-right-radius: 20px; 
}


.prestations {
    text-align: center;
    margin-bottom: 40px;
    width: 70%;
    z-index: 1;
}

.prestations h1 {
    margin-top: 50px;
    gap: 20vw;
    color: #302E44;
    font-size: 40px;
    font-weight: bold;
}
.prestations p {
    margin-top: 20px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative; 
}

.card img {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 70px;
}

.card h1 {
    font-size: 24px;
    text-align: left;
    margin-top: 85px;
}

.card p {
    text-align: left;
    margin-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card button {
    background-color: #302E44;
    color: white;
}

.cards .card:first-child img {
    background-color: #00EA99;
    border-radius: 10px;
}

.cards .card:nth-child(2) {
    background-color: #302E44;
}

.cards .card:nth-child(2) .button {
    background-color: white;
    color: #302E44;
}

.cards .card:nth-child(2) h1, .card:nth-child(2) p  {
    color: white;
}

/* ====== Media Queries ====== */

@media (max-width: 1024px) {
    .card {
        width: 78%;
    }
}

@media (max-width: 768px) {
    .prestations, .cards {
        width: 90%;
    }

    .card {
        width: 100%;
    }
}


/* ====== Styles de la section "Solution RGPD" ====== */

.solution-rgpd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 15%;
  }

.decouvrir-rgpd  .part1, .part2 {
    display: block; 
  }
  
  
  .decouvrir-rgpd,
  .stock {
    flex: 1;
    width: 35%; /* Vous pouvez ajuster ce pourcentage en fonction de vos besoins */
  }
  
  .solution-rgpd div {
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligne les éléments à gauche */
  }
  
  .button--solution {
    margin-top: 50px;
    margin-bottom: 50px; /* Espacement entre le bouton et l'image */
  }
  
  .decouvrir-rgpd {
    flex: 1;
    width: 35%; 
    margin-top: 20rem; 
}

.button--solution {
    background-color: #302E44;
    color: white;
}

.decouvrir-rgpd h1 {
    font-size: 40px;
    font-weight: bold;
    color: #302E44;
    margin-bottom: 20px;
}

.decouvrir-rgpd ul {
    list-style-type: disc;
    font-size: 14px;
}

.decouvrir-rgpd ul li {
    margin-bottom: 10px;
}

/* Pour mettre en gras les mots enveloppés par la balise <strong> */
strong {
    font-weight: bold;
}
