* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.navbar-container {
    background-color: #302E44; /* Couleur de fond pour le conteneur de la navbar */
    padding: 20px 0; /* Espace autour de la navbar */
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
}

.navbar__menus,
.navbar__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__menu--p li,
.navbar__menu--a li,
.navbar__contact > div,
.linkedin-logo,
.login-link,
.button {
    margin-right: 10px;
}

.navbar__menu--p li p {
    font-size: 11px;
}

.navbar__menu--a li a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: medium;
    color: #302E44;
}

.navbar__logo-container,
.navbar__contact > div,
.button {
    display: flex;
    align-items: center;
}

.navbar__logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* centre le logo */
    align-items: center;
    position: relative; /* car le menu hamburger sera positionné par rapport à ce conteneur */
}

.navbar__logo {
    width: 10rem;
}

.navbar__contact > div {
    display: flex;
    gap: 10px; 
  }
  
  .navbar__contact {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  

.navbar__contact > div,
.linkedin-logo,
.login-link,
.button {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar__contact > div > p {
    margin-right: 10px; /* ou toute autre valeur qui vous convient */
}


.fa-linkedin-in {
    width: 15px;
    height: 15px;
    color: black;
    margin-right: 10px;
}

.login-link {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}


.button {
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
}

.button--trial {
    background-color: white;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: #302E44 2px solid;
    border-radius: 10px;
}

.button--demo {
    background-color: #00EA99;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}


.navbar__menus {
    position: relative;
}

.has-dropdown {
    position: relative;
}

.has-dropdown::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #00ea99;
    margin-left: 8px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 594px;
    border: 1px solid #ccc;
    flex-direction: row;
    z-index: 1;
}

.dropdown-column {
    flex-basis: 50%;
}

.dropdown-item {
    padding: 5px;

}

.dropdown-item h4 { 
    font-size: 14px;
}

.dropdown-item p { 
    font-size: 10px;
    color: #2F2E41;
}

.dropdown-item a { 
    list-style: none;
}

.dropdown-item h4 {
    margin: 0; 
    padding: 0; 
}

.dropdown-item a {
    text-decoration: none; 
    color: inherit; 
    display: block; 
    padding: 5px 0; 
    color: #2F2E41;
}

.dropdown-item {
    padding: 10px; 
}

/* MENU HAMBURGER */

/* Ajoutez ces styles pour gérer l'affichage de vos menus avec la classe .active */
.navbar__menus.active, .navbar__contact.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2E41;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.menu-hamburger {
    cursor: pointer;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    position: absolute;
    left: 15px; /* ou la valeur que vous préférez */
    top: 50%;
    transform: translateY(-50%);
}

.menu-hamburger .bar1, 
.menu-hamburger .bar2, 
.menu-hamburger .bar3 {
    background-color: #333;
    height: 3px;
    width: 100%;
}

@media (max-width: 1580px) {
    .menu-hamburger {
        display: flex;
    }
    .navbar__contact, .navbar__menus {
        display: none;
    }
}

/* Lorsque le menu est ouvert, on ajoute la classe .open au menu hamburger */
.menu-hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.menu-hamburger.open .bar2 {
    opacity: 0;
}

.menu-hamburger.open .bar3 {
    transform: rotate(45deg) translate(-4px, -4px);
}

/* SOUS MENU */

/* Styles pour le sous-menu */

.navbar__submenu{
    display: none;
}

.submenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2E41;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.submenu.active {
    display: block;
}

.go-back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-decoration: none;
    background-color: #00EA99;
    padding: 5px 10px;
    border-radius: 5px;
}

.submenu h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


.submenu-items {
    list-style: none;
    padding: 0;
}

.submenu-items li {
    margin-bottom: 10px;
}

.submenu-items a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.submenu-items a:hover {
    background-color: #00EA99;
}

/* PREMIERE SECTION */

.header-section {
    background-color: #302E44;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    max-width: 70%;
    margin: auto;
    margin-right: 100px;
}

.rgpd-score h1 span {
    display: block;
}

.rgpd-score, .rgpd-svg {
    flex: 1;
    padding-top: 20px;
    /* padding: 20px; */
}

.rgpd-score h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.rgpd-score p {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.button--score {
    background-color: #00EA99;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.button--video {
    background-color: #302E44;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    padding: 15px;
}

.button--video i {
    margin-right: 8px;
}

.rgpd-svg img {
    max-width: 100%;
    display: block;
}

.rgpd-svg {
    flex: 1;
    position: relative;
}

.parent-of-rgpd-svg {
    position: relative;
}


.border-line {
    height: 1px;
    background: white;
    width: 100vw;
    margin: 0; 
    box-sizing: border-box;
}


/* Pour les tablettes et les petits écrans */
@media (max-width: 868px) {
    .header-content {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .rgpd-score, .rgpd-svg {
        padding-top: 10px;
    }
    .rgpd-score h1 {
        font-size: 32px;
    }
    .rgpd-score p {
        font-size: 12px;
    }
    .buttons-container {
        flex-direction: column;
        gap: 5px;
    }
}

/* Pour les mobiles */
@media (max-width: 580px) {
    .header-content {
        max-width: 90%;
        margin: auto;
    }
    .rgpd-score h1 {
        font-size: 28px;
    }
    .rgpd-score p {
        font-size: 11px;
    }
    .button--score, .button--video {
        padding: 10px;
    }
}


body {
    overflow-x: hidden;
}

/* Demo section */


.ask-demo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin: 20px auto;
    padding: 50px 0;
}

.stat {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: left; 
}

.stat h1,
.stat p {
    margin: 0;
    padding: 0; 
    color: white;
}

.stat {
    margin-bottom: 300px;
}


.button--demo {
    padding: 20px;
}



.button {
    background-color: #00EA99;
    color: #302E44;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

/* Pour les tablettes et les petits écrans */
@media (max-width: 868px) {
    .ask-demo {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        margin: 10px auto;
        margin-bottom: 20rem;
    }
    .stat {
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .button--demo {
        padding: 15px;
    }
}

/* Pour les mobiles */
@media (max-width: 580px) {
    .ask-demo {
        padding: 20px 0;
    }
    .stat h1 {
        font-size: 24px;
    }
    .stat p {
        font-size: 12px;
    }
    .button--demo {
        padding: 10px;
        font-size: 12px;
    }
}


.highlight {
    color: #00EA99;
}

/* ====== Styles des services et des cartes ====== */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px; 
    z-index: 10; 
    position: relative; 
    background-color: white; 
    width: 70%;
    margin-left: auto; 
    margin-right: auto; 
    border-top-left-radius: 20px;  
    border-top-right-radius: 20px; 
}


.prestations {
    text-align: center;
    margin-bottom: 40px;
    width: 70%;
    z-index: 1;
}

.prestations h1 {
    margin-top: 50px;
    gap: 20vw;
    color: #302E44;
    font-size: 40px;
    font-weight: bold;
}
.prestations p {
    margin-top: 20px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative; 
}

.card img {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 70px;
}

.card h1 {
    font-size: 24px;
    text-align: left;
    margin-top: 85px;
}

.card p {
    text-align: left;
    margin-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card button {
    background-color: #302E44;
    color: white;
}

.cards .card:first-child img {
    background-color: #00EA99;
    border-radius: 10px;
}

.cards .card:nth-child(2) {
    background-color: #302E44;
}

.cards .card:nth-child(2) .button {
    background-color: white;
    color: #302E44;
}

.cards .card:nth-child(2) h1, .card:nth-child(2) p  {
    color: white;
}

/* ====== Media Queries ====== */

@media (max-width: 1024px) {
    .card {
        width: 78%;
    }
}

@media (max-width: 768px) {
    .prestations, .cards {
        width: 90%;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 868px) {
    .services {
        width: 90%;
    }
    .prestations {
        width: 100%;
        margin-bottom: 20px;
    }
    .prestations h1 {
        font-size: 32px;
    }
    .prestations p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
    }
    .card h1 {
        font-size: 20px;
        margin-top: 75px;
    }
    .card p {
        font-size: 12px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/* Pour les mobiles */
@media (max-width: 580px) {
    .services {
        width: 100%;
    }
    .prestations h1 {
        font-size: 24px;
    }
    .prestations p {
        font-size: 12px;
    }
    .card {
        padding: 10px;
    }
    .card h1 {
        font-size: 18px;
        margin-top: 65px;
    }
    .card p {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card img {
        width: 50px;
    }
}

/* ====== Styles de la section "Solution RGPD" ====== */

.solution-rgpd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 15%;
  }

.part1, .part2 {
    display: block; 
  }
  
  
  .decouvrir-rgpd,
  .stock {
    flex: 1;
    width: 35%; /* Vous pouvez ajuster ce pourcentage en fonction de vos besoins */
  }
  
  .solution-rgpd div {
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligne les éléments à gauche */
  }
  
  .button--solution {
    margin-top: 50px;
    margin-bottom: 50px; /* Espacement entre le bouton et l'image */
  }
  
  .decouvrir-rgpd {
    flex: 1;
    width: 35%; 
    margin-top: 20rem; 
}

.button--solution {
    background-color: #302E44;
    color: white;
}

.decouvrir-rgpd h1 {
    font-size: 40px;
    font-weight: bold;
    color: #302E44;
    margin-bottom: 20px;
}

.decouvrir-rgpd ul {
    list-style-type: disc;
    font-size: 14px;
}

.decouvrir-rgpd ul li {
    margin-bottom: 10px;
}

/* Pour mettre en gras les mots enveloppés par la balise <strong> */
strong {
    font-weight: bold;
}

@media (max-width: 1243px) {
    .solution-rgpd .stock {
        display: none;
    }
}

/* Pour les écrans de taille moyenne */
@media (max-width: 768px) {
    .solution-rgpd {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }
    
    .decouvrir-rgpd,
    .stock {
      width: 100%;
    }
  
    .decouvrir-rgpd {
      margin-top: 5rem;
    }
    
    .decouvrir-rgpd h1 {
      font-size: 32px;
    }
    
    .decouvrir-rgpd ul {
      font-size: 12px;
    }
    
    .button--solution {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  
  /* Pour les petits écrans */
  @media (max-width: 480px) {
    .solution-rgpd .stock {
      display: none; 
    }
    
    .decouvrir-rgpd h1 {
      font-size: 28px;
    }
    
    .decouvrir-rgpd ul {
      font-size: 11px;
    }
    
    .button--solution {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .decouvrir-rgpd img {
      display: none;  /* Masquer l'image */
    }
  }

/* Video section */
.full-width-video video {
    width: 100%;
    height: auto;
}

/* Testez RGPD section */

.wrapper {
    background-color: #F5F5F5;  
}

.test-mission {
    background-color: #302E44;
    width: 70%;
    height: 40vh;
    margin: auto;
    border-radius: 0 0 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;  
    margin-top: -4px;
}

.test, .test-img {
    flex: 1;
}

.test {
    max-width: 35%;
    margin-left: 7%;  
}



.test-img {
    position: absolute; 
    right: 0;  
    bottom: 0;
}

.button--test {
    background-color: white;
    color: #302E44;
}


.test h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.test p {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}
@media (max-width: 1300px) {
    .test-mission {
        height: auto;
    }
    .test-img img {
        width: 300px; /* Réduit la taille à 80% */
        position: static;
        padding: 0;
        text-align: center;
    }
    .test {
        max-width: 500px;
    }
}
@media (max-width: 1200px) {
    .test p {
        max-width: 400px;
    }
    .test-img img {
        width: 250px; 
    }
}
@media (max-width: 931px) {
    .test p {
        max-width: 400px;
    }
    .test-img img {
        width: 200px; 
    }
}

@media (max-width: 768px) {
    /* Réduire la taille du texte */
    .test h1 {
        font-size: 32px;
    }

    .test p, .temoignage__text p, .poste-entreprise {
        font-size: 12px;
    }

    /* Réduire la taille de l'image */
    .test-img img, .temoignage__img img {
        display: none;
        }

    /* Adapter le layout */
    .test, .test-img, .temoignage__img, .temoignage__text {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .test {
        margin-left: 0;
        text-align: center;
    }

    /* Réduire la hauteur de la section */
    .test-mission {
        height: auto;
    }
    .solution-rgpd img {
        width: 300px;
    }
}

@media (max-width: 480px) {
    /* Réduire encore la taille du texte */
    .test h1 {
        font-size: 24px;
    }

    .test p, .temoignage__text p, .poste-entreprise {
        font-size: 11px;
    }

    /* Réduire encore la taille de l'image */
    .test-img img, .temoignage__img img {
        display: none;
    }

    /* Masquer des éléments moins essentiels si nécessaire */
    .temoignage__img img {
        display: none;
    }
}


/* Pour la section Temoignage */


.temoignage {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 10vh;
}
  
.temoignage__img, 
.temoignage__text {
    flex: 1;
}
  
.temoignage__img {
    order: 1;
}

.temoignage__img h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10rem;
    color: #302E44;
}

.poste-entreprise {
    color: #787878;
    font-size: 14px;
}



.temoignage__text p {
    max-width: 70%; 
    margin-bottom: 30px;
}


.temoignage__text h4 {
    font-weight: bold;
    margin-bottom: 10px;
}
  
.temoignage__text {
    order: 2;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
  }
  
/* Pour le slider */

.slider-container {
    position: relative;
    overflow: hidden; 
    width: 100%;
}
  
.slider {
    display: flex;
    flex-direction: row; 
    transition: transform 0.3s ease-out;
    width: 300%; 
}
  
.slide {
    flex: 0 0 33.3333%; 
    max-width: 33.3333%; 
    margin: 0; 
    padding: 0; 
    scroll-snap-align: start;
}
  
.prev, .next {
    position: absolute;
    top: 0px; 
    right: 0px; 
    z-index: 2;
    cursor: pointer;
    background-color: transparent; 
    border: none;
    font-size: 40px; 
}

.prev {
    top: 50px; 
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


/* Ajout de styles pour l'indicateur */

.slider-indicator {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
  }
  
  .slider-indicator::-webkit-slider-thumb {
    -webkit-appearance: none;
    --thumb-width: 33.33%;
    background-color: #00EA99;
    width: var(--thumb-width);
    height: 10px;    
    cursor: pointer;
}

  
  .slider-indicator::-webkit-slider-runnable-track {
    background-color: #A3A3A3;
    height: 1px;
  }


  @media (max-width: 1300px) {
    .temoignage {
        flex-direction: column;
        align-items: center;
    }

    .temoignage__img, 
    .temoignage__text {
        width: 100%;
    }
    
    .slider {
        width: 100%;
    }

    .slide {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .prev, .next {
        font-size: 30px;
    }

    .slider-indicator::-webkit-slider-thumb {
        --thumb-width: 100%;
    }
}

@media (max-width: 768px) {
    .temoignage__img h1 {
        font-size: 32px;
        margin-bottom: 4rem;
    }

    .temoignage__text p, .poste-entreprise {
        font-size: 12px;
    }

    .prev, .next {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .temoignage__img h1 {
        font-size: 24px;
    }

    .temoignage__text p, .poste-entreprise {
        font-size: 11px;
    }

    .prev, .next {
        font-size: 20px;
    }

    .slider-indicator {
        display: none;
    }
}


/* Pour la section "Questions" */

/* Styling de la section RGPD */
.question-rgpd {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage vertical des éléments */
  }
  
  /* Styling du titre */
  .question-rgpd h1 {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 40px;
    color: #302E44;
  }
  
  /* Styling du conteneur principal de la question */
  .question {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Styling du conteneur des cartes et du bouton */
  .question__cards-container {
    width: 55%;
    display: flex;
    align-items: flex-start;
  }
  
  /* Conteneur pour les cartes */
  .question__cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  /* Styling des cartes */
  .question__cards {
    flex: 1;
    margin: 5px;
    padding: 10px;
    height: 200px; /* Hauteur fixe pour les rectangles */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.question__cards p {
    font-size: 20px;
    font-weight: bold;
}

.question__cards a {
    margin-top: 20px;
  }
  
  .question__cards:nth-child(1) {
    background-color: #B3F9E0;
  }
  
  .question__cards:nth-child(2) {
    background-color: #302E44;
  }

  .question__cards:nth-child(2) p {
    color: white;
  }

  .question__cards:nth-child(2) .fa-circle-chevron-right{
    color: white;
  }
  
  .question__cards:nth-child(3) {
    background-color: #F9F9F9;
    flex: 0.8;
  }
  
  /* Styling du bouton */
  .button--question {
    margin-top: 5rem;
    background-color: #2F2E41;
    color: white;
    align-self: flex-start;
  }
  
  /* Styling de l'image */
  .question-rgpd img {
    align-self: flex-end;
    width: 20%;
  }

  .question__cards .fa-circle-chevron-right {
    color: #302E44;
    margin-right: 10px;
  }

  @media (max-width: 1300px) {  
    .question__cards-container {
      flex-direction: column;
      align-items: center;
    }
  
    .question__cards {
      width: 90%;
      margin-bottom: 20px;
    }
  
    .question-rgpd img {
      width: 40%;
    }
  
    .button--question {
      align-self: center;
    }
  
    .question__cards p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {  
    .question-rgpd h1 {
      font-size: 32px;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  
    .question__cards {
      height: auto; /* Ajustement de la hauteur */
    }
  
    .question-rgpd img {
      width: 50%;
    }
  
    .question__cards p {
      font-size: 14px;
    }
  
    .question__cards a {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {  
    .question-rgpd h1 {
      font-size: 24px;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }
  
    .question-rgpd img {
      display: none; /* Masquer l'image pour économiser de l'espace */
    }
  
    .question__cards p {
      font-size: 12px;
    }
  
    .question__cards a {
      margin-top: 5px;
    }
    .question-rgpd .button--question {
      margin-bottom: 2rem;
    }
  }
  



    /* Pour la section "Articles" */
/* Styling de la section RGPD Articles */
.articles-rgpd-bg {
    background-color: #302E44;
    padding-bottom: 7rem;
}

.articles-rgpd {
    width: 80%;
    margin: auto;
  }
  
  /* Conteneur des cartes */
.article-card-container {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
}
  
  /* Style des cartes */
  .article-card {
    width: 20%;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
  }

.article-card a {
    text-decoration: none;
}

  .article-card:nth-child(2) h2 {
    text-decoration: underline;
    cursor: pointer;
  }
  

.article-card h2, .article-card p {
    color: white;
}
  .articles-rgpd h1 {
    color: white;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 7rem;
    margin-left: 10rem;
  }
  
  .article-card img {
    width: 100%;
    height: auto;
  }
  
  .article-date {
    font-size: 12px;
    color: white;
    margin-top: 5px;
  }
  
  .article-tag {
    font-size: 14px;
    color: #00EA99 !important;
  }
  
  .article-card h2 {
    font-size: 16px;
    margin-top: 0.5rem;
  }
  
  .article-card p {
    font-size: 14px;
  }

  .article-date, .article-tag, .article-card h2, .article-card p {
    margin-bottom: 1rem; 
  }
  
  
.button--articles {
    background-color: white;
    color: #302E44;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }



  @media (max-width: 1300px) {  
    .articles-rgpd {
      width: 90%;
    }

    .inner-space {
        display: none;
    }
  
    .articles-rgpd h1 {
      margin-left: 2rem;
      font-size: 32px;
    }
  
    .article-card-container {
      justify-content: space-between;
    }
  
    .article-card {
      width: 45%;
      margin-bottom: 10rem; 
    }
  
    .button--articles {
      margin-top: 3rem;
    }
  }
  
  @media (max-width: 768px) {  
    .articles-rgpd h1 {
      margin-left: 1rem;
      font-size: 28px;
      padding-top: 5rem;
    }
  
    .article-card {
      width: 100%;
    }
  
    .article-card h2 {
      font-size: 14px;
    }
  
    .article-card p {
      font-size: 12px;
    }
  
    .button--articles {
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 480px) {  
    .articles-rgpd h1 {
      margin-left: 0;
      text-align: center;
      padding-top: 3rem;
    }
  
    .article-card-container {
      padding: 0 1rem;
    }
  
    .article-date, .article-tag, .article-card h2, .article-card p {
      margin-bottom: 0.5rem;
    }
  }


  .inner-space {
    height: 15rem;  /* Vous pouvez ajuster cette valeur pour obtenir l'espacement désiré */
}



    /* Pour la section "Equipes" */


.equipe-section {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
}

.equipe h1 {
    font-size: 40px;
    color: #2F2E41;
    /* margin-left: 20rem; */
    margin-bottom: 7rem;
}

.equipe__cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 cartes par ligne */
    gap: 3rem;
}

.equipe__cards-container::before {
    content: "";
    width: 0;
    padding-bottom: 0;
}

.equipe__cards {
    border: none;
    position: relative;
    min-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.equipe__cards img, .article-card img {
    object-fit: cover; /* Ajuste l'image pour remplir le contenu */
    width: 100%; /* largeur complète du conteneur parent */
    height: 100%; /* hauteur complète du conteneur parent */
}

.link-banner {
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.link-banner img {
    max-width: 100%;
    display: block;
    height: auto; /* Hauteur automatique pour maintenir l'aspect ratio */
}

.link-banner-text {
    position: absolute;
    height: 45px;  /* ou 20% de la hauteur de la carte */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #302E44;
    color: white;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipe__cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cartes par ligne */
    grid-template-rows: 1fr; /* hauteur uniforme */
    gap: 3rem;
}

@media (max-width: 1200px) {
    .equipe__cards-container {
        grid-template-columns: repeat(3, 1fr); /* 3 cartes par ligne */
    }
}

@media (max-width: 900px) {
    .equipe__cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne */
    }
}

@media (max-width: 600px) {
    .equipe__cards-container {
        grid-template-columns: 1fr; /* 1 carte par ligne */
    }
}


      
    /* Style de la popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48,46,68,90%);
    z-index: 1000;
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    margin: 2rem auto;
    background: #F0F0F0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
}

.popup__image {
    flex: 0 1 40%;
    object-fit: cover;
}

.text-container {
    flex: 1;
    position: relative;
    padding: 1rem;
}

.popup__content .vector-image {
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: 5rem;
    max-height: 5rem;
    object-fit: contain;
}

.close-popup {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 3;
}

.lorem-text {
    margin-top: 6rem;
}

@media (max-width: 1597px) {
    .popup__content {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
    }

    .popup__content .popup__image {
        width: 100%;
        height: 40%;  
        object-fit: contain; 
        object-position: top; 
    }

    .vector-image {
        display: none;
    }

    .text-container {
        flex: 1; /* pour s'assurer que le conteneur de texte prend tout l'espace restant */
        overflow-y: auto; /* pour ajouter un scroll si le texte est trop long */
    }

    .lorem-text {
        margin-top: 1rem;
    }
}


/* Pour la section "Newsletter" */

.newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-bottom: 20rem;
}

.newsletter__container {
    background-color: #F5F5F5;
    width: 70%;
    display: flex;
    position: relative; 
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.newsletter__content {
    flex: 1;
    padding-left: 15rem;
    padding-top: 10rem;
}

.newsletter__content h1 {
    font-size: 40px;
    color: #302E44;
    margin-bottom: 20px;
}

.newsletter__content p {
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    max-width: 600px;
}

.newsletter__content input[type="email"] {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}


.checkbox-container {
    display: flex;
    align-items: flex-start;
    max-width: 500px;
}

.checkbox-container label {
    flex-grow: 1; 
    margin-left: 10px;
    word-wrap: break-word; 
}

.newsletter__content button {
    background-color: #302E44;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
}

.newsletter__img {
    flex: 1;
    position: absolute; 
    bottom: 0; 
    right: 0;
    padding: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.newsletter__img .bg, .newsletter__img .fg {
    position: absolute;
    bottom: 0; 
    right: 0; 
}

.newsletter__img .fg {
    z-index: 1;
}

@media (max-width: 1700px) {
    .newsletter {
        margin-top: 5rem;
    }
    .newsletter__content {
        padding-left: 5rem;
        padding-top: 5rem;
    }
    .newsletter__content h1 {
        font-size: 36px;
    }
    .newsletter__content input[type="email"] {
        width: 50%;
    }
    .checkbox-container {
        max-width: 400px;
    }
    .newsletter__img .fg {
        width: 400px;
    }
}
@media (max-width: 1200px) {
    .newsletter__img .fg {
        width: 300px;
    }
    .newsletter__img .bg {
        display: none;
    }
}
/* Pour les écrans de taille moyenne */
@media (max-width: 992px) {
    .newsletter__container {
        width: 90%;
    }
    .newsletter__content {
        padding-left: 5rem;
        padding-top: 5rem;
    }
    .newsletter__content h1 {
        font-size: 36px;
    }
    .newsletter__img .fg {
        width: 300px;
    }
    .newsletter__content input[type="email"] {
        width: 50%;
    }
    .checkbox-container {
        max-width: 400px;
    }
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    .newsletter__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .newsletter__content {
        padding-left: 2rem;
        padding-top: 2rem;
        text-align: center;
    }
    .newsletter__content h1 {
        font-size: 32px;
    }
    .newsletter__content p {
        font-size: 12px;
    }
    .newsletter__content input[type="email"], 
    .newsletter__content button {
        width: 80%;
    }
    .checkbox-container {
        max-width: 600px;
        justify-content: center;
    }
    .newsletter__img .fg {
        position: static;
        padding: 0;
        text-align: center;
        width: 150px;
    }

}

@media (max-width: 400px) {
    .newsletter__img .fg {
        width: 100px;
    }

}


footer {
    background-color: #302E44;
    color: white;
    padding: 10rem;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__content__logo {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    flex-grow: 1;  
    width: 100%; 
}

.footer__content__links {
    display: flex;
    flex-direction: row;
    align-self: flex-start; 
    width: 100%;  
    margin: auto;  
}

.footer__content__logo img {
    max-width: 150px;  
    width: auto;
    height: auto;
}

.footer__content__links__column {
    flex-grow: 1;  
    margin: 0 2rem;
    display: flex;
    flex-direction: column;  
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.footer__content__links__column h4 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.footer__content__links__column ul {
    list-style-type: none;
    padding: 0;
}

.footer__content__links__column ul li {
    margin: 0.5rem 0;
}

.footer__content__links__column ul li a {
    color: white;
    text-decoration: none;
}

.footer__content__links__column ul li a:hover {
    text-decoration: underline;
}

.button--diag {
    background-color: white;
    color: #302E44;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 1.5em 3em; 
}

.button--eco {
    background-color: white;
    color: #302E44;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 1.5em 3em; 
}

.button--free {
    background-color: white;
    color: #302E44;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 1.5em 3em; 
}

.CVG {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 5rem;
    font-size: 12px;
}

.CVG li {
    margin: 0 1rem;
}

.CVG li a {
    color: white;
    text-decoration: none;
}

.CVG li a:hover {
    text-decoration: underline;
}


@media (max-width: 1000px) {
    .footer__content__links__column {
      margin: 0 1rem;
    }
    .footer__content__links__column h4 {
      font-size: 20px;
      margin-top: 5rem;
    }
    .CVG {
      margin-top: 3rem;
    }
  }




/* Pour tablettes et petits écrans */
@media (max-width: 848px) {
    footer {
        padding: 2rem;
    }
  }

@media (max-width: 704px) {
.footer__content {
      flex-direction: column;
      align-items: flex-start;  /* Changé de center à flex-start */
    }
    .footer__content__logo {
      flex-direction: column;
      justify-content: center;  /* Changé de center à flex-start */
      width: 100%;
    }
    .footer__content__links {
      flex-direction: column;
      align-items: flex-start;  /* Changé de center à flex-start */
      width: 100%;
    }
    .footer__content__links__column {
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: flex-start;  /* Changé de center à flex-start */
    }
    .button__footer__button {
      flex-direction: column;
      align-items: flex-start;  /* Changé de center à flex-start */
    }
}
  
  
  /* Pour mobiles */
  @media (max-width: 580px) {
    .footer__content {
      padding: 1rem;
    }
    .footer__content__links__column {
      margin: 0;
    }
    .footer__content__logo img {
      max-width: 100px;
    }
    .footer__content__links__column h4 {
      font-size: 18px;
    }
    .CVG {
      flex-direction: column;
      align-items: center;
    }
  }
  